---
layout: splash
permalink: /
hidden: true
title: Him We Proclaim
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/blog-1200x400.png
tagline: >
  WpIRC, WordPress IRC Plugins.<br/>

intro: 
  - excerpt: The online home for my articles and publications, public research notes, and the projects about which I am most excited.

feature_row:
  - title: "Article Collection"
    excerpt: "I write regularly on church and missions, both international and North American. You can find all of my articles here by year."
    url: "/posts/"
    btn_class: "btn--primary"
    btn_label: "Read"
  - title: "Commonplace Book"
    excerpt: "My commonplace book is where I do my thinking in public. You can explore my public notes on any number of topics."
    url: "https://wpirc.eu.org"
    btn_class: "btn--primary"
    btn_label: "Explore"
  - title: "Sermons"
    excerpt: "I have the joy of preaching and teaching regularly for churches and events. View a collection of my recent sermons and videos."
    url: "/sermons/"
    btn_class: "btn--primary"
    btn_label: "Watch"      
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
